 # Cleaning CTA Data
 
     Charlie Marshall
     Start Date: 16 April 2021
     End Date:

Objective: to clean up data scraped from CTA Train Tracker API to perform data analysis

## Load Libraries

In [68]:
import pandas as pd
import numpy as np
import scipy
import re
import glob
import os
from nltk.tokenize import word_tokenize,sent_tokenize,RegexpTokenizer
from nltk import pos_tag
import spacy

## Load Data

In [412]:
game = pd.read_csv('/Users/charlesmarshall/Desktop/TransMinor/CTA_Project/Purple51321PM.txt', engine='python', sep = ',', names = ['rn','station','isArr','direction','arrtime'])

In [413]:
game_nodup = game.drop_duplicates().reset_index(drop=True)

In [414]:
game = clean_data(game_nodup).reset_index(drop=True)

In [415]:
# game = game_nodup.reset_index(drop=True)

In [416]:
runs = pd.DataFrame(columns=['rn','Central5','Noyes5','Foster5','Davis5','Dempster5','Main5','South Boulevard5','Howard5','Wilson5','Belmont5','Wellington5','Diversey5','Fullerton5','Armitage','Sedgwick5','Chicago5','Merchandise Mart5','Clark/Lake5','State/Lake5','Washington/Wabash5','Adams/Wabash5','Harold Washington Library-State/Van Buren5','LaSalle/Van Buren5','Quincy5','Washington/Wells5','Merchandise Mart1','Chicago1','Sedgewick1','Armitage1','Fullerton1','Diversey1','Wellington1','Belmont1','Wilson1','Howard1','South Boulevard1','Main','Dempster1','Davis1','Foster1','Noyes1','Central1','Linden1'])
# runs = pd.DataFrame(columns=['rn','Central5','South Boulevard5','Howard5','Wilson5','Belmont5','Wellington5','Fullerton5','Armitage','Merchandise Mart5','Clark/Lake5','Adams/Wabash5','Harold Washington Library-State/Van Buren5','Washington/Wells5','Merchandise Mart1','Armitage1','Fullerton1','Diversey1','Wellington1','Belmont1','Wilson1','South Boulevard1','Linden1'])
# runs = pd.DataFrame(columns=['rn','Central5','Davis5','Howard5','Wilson5','Belmont5','Fullerton5','Merchandise Mart5','Adams/Wabash5','Merchandise Mart1','Fullerton1','Belmont1','Wilson1','Howard1','South Boulevard1','Davis1','Linden1'])

In [421]:
runs[runs['rn'] == '523']

,rn,Central5,Noyes5,Foster5,Davis5,Dempster5,Main5,South Boulevard5,Howard5,Wilson5,...,Wilson1,Howard1,South Boulevard1,Main,Dempster1,Davis1,Foster1,Noyes1,Central1,Linden1
84,523,15:32:25,15:34:18,None,15:37:30,15:38:52,15:40:24,15:41:11,15:41:56,15:50:37,...,None,16:56:04,16:56:28,None,None,None,None,None,None,None
85,523,17:31:38,17:33:33,None,17:35:43,17:38:14,17:38:43,17:40:39,17:41:24,17:50:30,...,None,18:56:16,18:57:27,None,None,None,None,None,None,None
86,523,None,None,None,None,None,None,None,None,None,...,None,None,18:59:34,18:59:41,19:01:04,19:03:26,19:04:35,19:05:14,19:07:10,19:08:39
87,523,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,19:08:55
88,523,19:38:57,None,None,19:44:13,19:46:02,19:48:38,19:49:26,19:50:09,None,...,None,None,None,None,None,None,None,None,None,None
89,523,20:27:35,None,None,20:31:33,None,20:35:38,20:36:27,20:37:14,None,...,None,None,None,None,None,None,None,None,None,None
90,523,None,None,None,None,None,None,None,None,None,...,None,None,20:40:32,20:52:23,20:52:49,20:55:19,20:56:32,20:57:26,20:59:32,None

In [422]:
the_whole_deal(game)

rn                                                 515
Central5                                      18:50:52
Noyes5                                            None
Foster5                                           None
Davis5                                        18:55:04
Dempster5                                     18:56:34
Main5                                         18:58:04
South Boulevard5                              18:59:54
Howard5                                       19:00:44
Wilson5                                           None
Belmont5                                          None
Wellington5                                       None
Diversey5                                         None
Fullerton5                                        None
Armitage                                          None
Sedgwick5                                         None
Chicago5                                          None
Merchandise Mart5                                 None
Clark/Lake5                                       None
State/Lake5                                       None
Washington/Wabash5                                None
Adams/Wabash5                                     None
Harold Washington Library-State/Van Buren5        None
LaSalle/Van Buren5                                None
Quincy5                                           None
Washington/Wells5                                 None
Merchandise Mart1                                 None
Chicago1                                          None
Sedgewick1                                        None
Armitage1                                         None
Fullerton1                                        None
Diversey1                                         None
Wellington1                                       None
Belmont1                                          None
Wilson1                                           None
Howard1                                           None
South Boulevard1                                  None
Main                                              None
Dempster1                                         None
Davis1                                            None
Foster1                                           None
Noyes1                                            None
Central1                                          None
Linden1                                           None
Name: 84, dtype: object

In [419]:
runs.to_excel("Excel/Purple51321PM.xlsx")

In [420]:
clean_data(game[game['rn'] == '523'].reset_index(drop=True)).reset_index(drop=True).head(50)

     rn                                 station isArr direction   arrtime
0   523                                 Central     1         5  15:32:25
1   523                                   Noyes     0         5  15:34:18
2   523                                   Davis     1         5  15:37:30
3   523                                Dempster     0         5  15:38:52
4   523                                    Main     1         5  15:40:24
5   523                          SouthBoulevard     1         5  15:41:11
6   523                                  Howard     1         5  15:41:56
7   523                                  Wilson     0         5  15:50:39
8   523                                  Wilson     1         5  15:50:37
9   523                                Sheridan     0         5  15:53:33
10  523                                Sheridan     1         5  15:52:42
11  523                                 Belmont     0         5  15:56:30
12  523                                 Belmont     1         5  15:56:27
13  523                              Wellington     1         5  15:57:34
14  523                                Diversey     1         5  15:58:27
15  523                               Fullerton     0         5  16:00:28
16  523                               Fullerton     1         5  16:00:37
17  523                                Armitage     1         5  16:01:36
18  523                                Sedgwick     0         5  16:05:31
19  523                                Sedgwick     1         5  16:05:37
20  523                                 Chicago     0         5  16:08:37
21  523                                 Chicago     1         5  16:08:35
22  523                         MerchandiseMart     0         5  16:10:27
23  523                         MerchandiseMart     1         5  16:11:15
24  523                              Clark/Lake     0         5  16:12:40
25  523                              Clark/Lake     1         5  16:15:23
26  523                              State/Lake     1         5  16:16:37
27  523                            Adams/Wabash     0         5  16:18:10
28  523                            Adams/Wabash     1         5  16:19:37
29  523  HaroldWashingtonLibrary-State/VanBuren     1         5  16:20:39
30  523                        LaSalle/VanBuren     1         5  16:22:28
31  523                                  Quincy     1         5  16:23:36
32  523                        Washington/Wells     1         5  16:24:35
33  523                         MerchandiseMart     1         1  16:25:28
34  523                                 Chicago     0         1  16:27:33
35  523                                 Chicago     1         1  16:28:36
36  523                                Sedgwick     0         1  16:31:37
37  523                                Sedgwick     1         1  16:31:35
38  523                                Armitage     0         1  16:35:22
39  523                                Armitage     1         1  16:35:27
40  523                               Fullerton     0         1  16:36:48
41  523                                Diversey     0         1  16:38:36
42  523                                Diversey     1         1  16:39:24
43  523                              Wellington     1         1  16:40:33
44  523                                 Belmont     1         1  16:41:20
45  523                                Sheridan     0         5  16:50:33
46  523                          SouthBoulevard     0         1  16:56:28
47  523                                  Howard     0         1  16:56:04
48  523                                 Central     1         5  17:31:38
49  523                                   Noyes     0         5  17:33:33

In [138]:
runs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 51
Data columns (total 44 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   rn                                          52 non-null     object
 1   Central5                                    36 non-null     object
 2   Noyes5                                      0 non-null      object
 3   Foster5                                     0 non-null      object
 4   Davis5                                      37 non-null     object
 5   Dempster5                                   20 non-null     object
 6   Main5                                       36 non-null     object
 7   South Boulevard5                            37 non-null     object
 8   Howard5                                     38 non-null     object
 9   Wilson5                                     24 non-null     object
 10  Belmont5                                    21 non-null     object
 11  Wellington5                                 24 non-null     object
 12  Diversey5                                   24 non-null     object
 13  Fullerton5                                  23 non-null     object
 14  Armitage                                    21 non-null     object
 15  Sedgwick5                                   22 non-null     object
 16  Chicago5                                    24 non-null     object
 17  Merchandise Mart5                           24 non-null     object
 18  Clark/Lake5                                 15 non-null     object
 19  State/Lake5                                 23 non-null     object
 20  Washington/Wabash5                          14 non-null     object
 21  Adams/Wabash5                               24 non-null     object
 22  Harold Washington Library-State/Van Buren5  20 non-null     object
 23  LaSalle/Van Buren5                          24 non-null     object
 24  Quincy5                                     23 non-null     object
 25  Washington/Wells5                           24 non-null     object
 26  Merchandise Mart1                           24 non-null     object
 27  Chicago1                                    23 non-null     object
 28  Sedgewick1                                  24 non-null     object
 29  Armitage1                                   24 non-null     object
 30  Fullerton1                                  20 non-null     object
 31  Diversey1                                   24 non-null     object
 32  Wellington1                                 16 non-null     object
 33  Belmont1                                    18 non-null     object
 34  Wilson1                                     11 non-null     object
 35  Howard1                                     0 non-null      object
 36  South Boulevard1                            23 non-null     object
 37  Main                                        33 non-null     object
 38  Dempster1                                   36 non-null     object
 39  Davis1                                      8 non-null      object
 40  Foster1                                     14 non-null     object
 41  Noyes1                                      37 non-null     object
 42  Central1                                    16 non-null     object
 43  Linden1                                     36 non-null     object
dtypes: object(44)
memory usage: 18.3+ KB

In [345]:
# For when "isArr" is added, that needs to be part of the criteria also

def clean_data(game):
    games = []
    for i in range(len(game)):
        if i == 0:
            game.loc[i][0]=re.sub(r"'",'',game.loc[i][0])
            game.loc[i][0]=re.sub(r'\[','',game.loc[i][0])

            game.loc[i][1]=re.sub(r"'",'',game.loc[i][1])
            game.loc[i][1]=re.sub(r' ','',game.loc[i][1])
            game.loc[i][2]=re.sub(r"'",'',game.loc[i][2])
            game.loc[i][2]=re.sub(r' ','',game.loc[i][2])
            game.loc[i][3]=re.sub(r"'",'',game.loc[i][3])
            game.loc[i][3]=re.sub(r' ','',game.loc[i][3])

            game.loc[i][4]=re.sub(r"'",'',game.loc[i][4])
            game.loc[i][4]=re.sub(r'\]','',game.loc[i][4])
            game.loc[i][4]=re.sub(r' 2021[0-9]{4} ','',game.loc[i][4])
        elif game.loc[i].rn == game.loc[i-1].rn and game.loc[i].station == game.loc[i-1].station and game.loc[i].isArr == game.loc[i-1].isArr and game.loc[i].direction == game.loc[i-1].direction:
            #print(i-1)
            games.append(i-1)
        
        game.loc[i][0]=re.sub(r"'",'',game.loc[i][0])
        game.loc[i][0]=re.sub(r'\[','',game.loc[i][0])
        
        game.loc[i][1]=re.sub(r"'",'',game.loc[i][1])
        game.loc[i][1]=re.sub(r' ','',game.loc[i][1])
        game.loc[i][2]=re.sub(r"'",'',game.loc[i][2])
        game.loc[i][2]=re.sub(r' ','',game.loc[i][2])
        game.loc[i][3]=re.sub(r"'",'',game.loc[i][3])
        game.loc[i][3]=re.sub(r' ','',game.loc[i][3])
        
        game.loc[i][4]=re.sub(r"'",'',game.loc[i][4])
        game.loc[i][4]=re.sub(r'\]','',game.loc[i][4])
        game.loc[i][4]=re.sub(r' 2021[0-9]{4} ','',game.loc[i][4])
        
        
    game = game.drop(games)
            
    return game

In [346]:
game.rn.unique()

array(['514', '517', '518', '513', '515', '520', '519', '506', '508',
       '507', '522', '509', '523', '521', '512', '516', '1001', '1000'],
      dtype=object)

In [347]:
runs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 52
Data columns (total 44 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   rn                                          53 non-null     object
 1   Central5                                    35 non-null     object
 2   Noyes5                                      1 non-null      object
 3   Foster5                                     0 non-null      object
 4   Davis5                                      35 non-null     object
 5   Dempster5                                   23 non-null     object
 6   Main5                                       34 non-null     object
 7   South Boulevard5                            34 non-null     object
 8   Howard5                                     35 non-null     object
 9   Wilson5                                     22 non-null     object
 10  Belmont5                                    19 non-null     object
 11  Wellington5                                 21 non-null     object
 12  Diversey5                                   22 non-null     object
 13  Fullerton5                                  16 non-null     object
 14  Armitage                                    19 non-null     object
 15  Sedgwick5                                   21 non-null     object
 16  Chicago5                                    23 non-null     object
 17  Merchandise Mart5                           23 non-null     object
 18  Clark/Lake5                                 14 non-null     object
 19  State/Lake5                                 24 non-null     object
 20  Washington/Wabash5                          13 non-null     object
 21  Adams/Wabash5                               24 non-null     object
 22  Harold Washington Library-State/Van Buren5  21 non-null     object
 23  LaSalle/Van Buren5                          24 non-null     object
 24  Quincy5                                     24 non-null     object
 25  Washington/Wells5                           22 non-null     object
 26  Merchandise Mart1                           24 non-null     object
 27  Chicago1                                    23 non-null     object
 28  Sedgewick1                                  24 non-null     object
 29  Armitage1                                   24 non-null     object
 30  Fullerton1                                  21 non-null     object
 31  Diversey1                                   24 non-null     object
 32  Wellington1                                 23 non-null     object
 33  Belmont1                                    23 non-null     object
 34  Wilson1                                     8 non-null      object
 35  Howard1                                     0 non-null      object
 36  South Boulevard1                            27 non-null     object
 37  Main                                        22 non-null     object
 38  Dempster1                                   38 non-null     object
 39  Davis1                                      8 non-null      object
 40  Foster1                                     18 non-null     object
 41  Noyes1                                      35 non-null     object
 42  Central1                                    24 non-null     object
 43  Linden1                                     37 non-null     object
dtypes: object(44)
memory usage: 18.6+ KB

In [371]:
def run_funct(df_rn):

# Problems:
# This prolly wont work with all run numbers
# FIXED: RN 515 doesnt work because the second loop run didn't start with Central (Davis)
# FIXED: RN 514 doesnt split up any of the runs at all (loop and non-loop)
# FIXED: RN 517 doesnt split up non-loop runs

# Changes:
# This needs to only work with loop runs

# This function probably could use some work

    runs = []
    first = 0
#     second = None

    for i, row in df_rn.iterrows():
        # Dealing with the end of the data: If we are at the end of the dataset, the "last run" will be from its 
        # begining to the last point recorded (this might not be the end of a run in the case of a time cutoff)
        if i == len(df_rn)-1:
            run=[]
            run.append(row.rn)
            for j in range(first,len(df_rn)):
                run.append((df_rn.loc[j].station,df_rn.loc[j].direction,df_rn.loc[j].arrtime,df_rn.loc[j].isArr))
            runs.append(run)
        # If we have a purple line, non-loop run SB from Linden to Howard
        elif df_rn.loc[i].station == 'Howard' and df_rn.loc[i+1].station != 'Wilson' :
            run = []
            run.append(row.rn)
            for j in range(first,i+1):
                run.append((df_rn.loc[j].station,df_rn.loc[j].direction,df_rn.loc[j].arrtime,df_rn.loc[j].isArr))
            runs.append(run)
            first = i+1
        #If we have a NB purple shuttle (Howard to Linden)
        elif df_rn.loc[i].station == 'Linden' and df_rn.loc[first].station != 'Howard' :
            run = []
            run.append(row.rn)
            for j in range(first,i+1):
                run.append((df_rn.loc[j].station,df_rn.loc[j].direction,df_rn.loc[j].arrtime,df_rn.loc[j].isArr))
            runs.append(run)
            first = i+1
        # If we have a purple line loop run
        elif df_rn.loc[i].station == 'Linden' and df_rn.loc[first].station == 'Central':
            run = []
            run.append(row.rn)
            for j in range(first,i+1):
                run.append((df_rn.loc[j].station,df_rn.loc[j].direction,df_rn.loc[j].arrtime,df_rn.loc[j].isArr))
            runs.append(run)
            first = i+1
            
    final_runs = []
    for i, train in enumerate(runs):
        if len(train) > 10:
            final_runs.append(train)
#             print(train)

#     return final_runs
    return runs

In [361]:
def put_it_in_df(lists):
    
    for i in range(len(lists)):
        run = [None]*len(runs.columns)
        run[0] = lists[i][0]
        for j in range(len(lists[i])):
            if lists[i][j][0] == 'Central' and lists[i][j][1] == '5':
                run[1] = lists[i][j][2]
            if lists[i][j][0] == 'Noyes' and lists[i][j][1] == '5':
                run[2] = lists[i][j][2]
            if lists[i][j][0] == 'Foster' and lists[i][j][1] == '5':
                run[3] = lists[i][j][2]
            if lists[i][j][0] == 'Davis' and lists[i][j][1] == '5':
                run[4] = lists[i][j][2]
            if lists[i][j][0] == 'Dempster' and lists[i][j][1] == '5':
                run[5] = lists[i][j][2]
            if lists[i][j][0] == 'Main' and lists[i][j][1] == '5':
                run[6] = lists[i][j][2]
            if lists[i][j][0] == 'SouthBoulevard' and lists[i][j][1] == '5':
                run[7] = lists[i][j][2]
            if lists[i][j][0] == 'Howard' and lists[i][j][1] == '5':
                run[8] = lists[i][j][2]
            if lists[i][j][0] == 'Wilson' and lists[i][j][1] == '5':
                run[9] = lists[i][j][2]
            if lists[i][j][0] == 'Belmont' and lists[i][j][1] == '5':
                run[10] = lists[i][j][2]
            if lists[i][j][0] == 'Wellington' and lists[i][j][1] == '5':
                run[11] = lists[i][j][2]
            if lists[i][j][0] == 'Diversey' and lists[i][j][1] == '5':
                run[12] = lists[i][j][2]
            if lists[i][j][0] == 'Fullerton' and lists[i][j][1] == '5':
                run[13] = lists[i][j][2]
            if lists[i][j][0] == 'Armitage' and lists[i][j][1] == '5':
                run[14] = lists[i][j][2]
            if lists[i][j][0] == 'Sedgwick' and lists[i][j][1] == '5':
                run[15] = lists[i][j][2]
            if lists[i][j][0] == 'Chicago' and lists[i][j][1] == '5':
                run[16] = lists[i][j][2]
            if lists[i][j][0] == 'MerchandiseMart' and lists[i][j][1] == '5':
                run[17] = lists[i][j][2]
            if lists[i][j][0] == 'Clark/Lake' and lists[i][j][1] == '5':
                run[18] = lists[i][j][2]
            if lists[i][j][0] == 'State/Lake' and lists[i][j][1] == '5':
                run[19] = lists[i][j][2]
            if lists[i][j][0] == 'Washington/Wabash' and lists[i][j][1] == '5':
                run[20] = lists[i][j][2]
            if lists[i][j][0] == 'Adams/Wabash' and lists[i][j][1] == '5':
                run[21] = lists[i][j][2]
            if lists[i][j][0] == 'HaroldWashingtonLibrary-State/VanBuren' and lists[i][j][1] == '5':
                run[22] = lists[i][j][2]
            if lists[i][j][0] == 'LaSalle/VanBuren' and lists[i][j][1] == '5':
                run[23] = lists[i][j][2]
            if lists[i][j][0] == 'Quincy' and lists[i][j][1] == '5':
                run[24] = lists[i][j][2]
            if lists[i][j][0] == 'Washington/Wells' and lists[i][j][1] == '5':
                run[25] = lists[i][j][2]
            if lists[i][j][0] == 'MerchandiseMart' and lists[i][j][1] == '1':
                run[26] = lists[i][j][2]
            if lists[i][j][0] == 'Chicago' and lists[i][j][1] == '1':
                run[27] = lists[i][j][2]
            if lists[i][j][0] == 'Sedgwick' and lists[i][j][1] == '1':
                run[28] = lists[i][j][2]
            if lists[i][j][0] == 'Armitage' and lists[i][j][1] == '1':
                run[29] = lists[i][j][2]
            if lists[i][j][0] == 'Fullerton' and lists[i][j][1] == '1':
                run[30] = lists[i][j][2]
            if lists[i][j][0] == 'Diversey' and lists[i][j][1] == '1':
                run[31] = lists[i][j][2]
            if lists[i][j][0] == 'Wellington' and lists[i][j][1] == '1':
                run[32] = lists[i][j][2]
            if lists[i][j][0] == 'Belmont' and lists[i][j][1] == '1':
                run[33] = lists[i][j][2]
            if lists[i][j][0] == 'Wilson' and lists[i][j][1] == '1':
                run[34] = lists[i][j][2]
            if lists[i][j][0] == 'Howard' and lists[i][j][1] == '1':
                run[35] = lists[i][j][2]
            if lists[i][j][0] == 'SouthBoulevard' and lists[i][j][1] == '1':
                run[36] = lists[i][j][2]
            if lists[i][j][0] == 'Main' and lists[i][j][1] == '1':
                run[37] = lists[i][j][2]
            if lists[i][j][0] == 'Dempster' and lists[i][j][1] == '1':
                run[38] = lists[i][j][2]
            if lists[i][j][0] == 'Davis' and lists[i][j][1] == '1':
                run[39] = lists[i][j][2]
            if lists[i][j][0] == 'Foster' and lists[i][j][1] == '1':
                run[40] = lists[i][j][2]
            if lists[i][j][0] == 'Noyes' and lists[i][j][1] == '1':
                run[41] = lists[i][j][2]
            if lists[i][j][0] == 'Central' and lists[i][j][1] == '1':
                run[42] = lists[i][j][2]
            if lists[i][j][0] == 'Linden' and lists[i][j][1] == '1':
                run[43] = lists[i][j][2]

    #     print(run)
        runs.loc[len(runs)] = run

    return runs

In [141]:
# def put_it_in_df(lists):
    
#     for i in range(len(lists)):
#         run = [None]*len(runs.columns)
#         run[0] = lists[i][0]
#         for j in range(len(lists[i])):
#             if lists[i][j][0] == 'Central' and lists[i][j][1] == '5':
#                 run[1] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Noyes'" and lists[i][j][1] == " '5'":
# #                 run[2] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Foster'" and lists[i][j][1] == " '5'":
# #                 run[3] = lists[i][j][2]
#             if lists[i][j][0] == 'Davis' and lists[i][j][1] == '5':
#                 run[2] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Dempster'" and lists[i][j][1] == " '5'":
# #                 run[5] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Main'" and lists[i][j][1] == " '5'":
# #                 run[6] = lists[i][j][2]
# #             if lists[i][j][0] == " 'South Boulevard'" and lists[i][j][1] == " '5'":
# #                 run[2] = lists[i][j][2]
#             if lists[i][j][0] == 'Howard' and lists[i][j][1] == '5':
#                 run[3] = lists[i][j][2]
#             if lists[i][j][0] == 'Wilson' and lists[i][j][1] == '5':
#                 run[4] = lists[i][j][2]
#             if lists[i][j][0] == 'Belmont' and lists[i][j][1] == '5':
#                 run[5] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Wellington'" and lists[i][j][1] == " '5'":
# #                 run[6] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Diversy'" and lists[i][j][1] == " '5'":
# #                 run[7] = lists[i][j][2]
#             if lists[i][j][0] == 'Fullerton' and lists[i][j][1] == '5':
#                 run[6] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Armitage'" and lists[i][j][1] == " '5'":
# #                 run[8] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Sedgwick'" and lists[i][j][1] == " '5'":
# #                 run[15] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Chicago'" and lists[i][j][1] == " '5'":
# #                 run[16] = lists[i][j][2]
#             if lists[i][j][0] == 'MerchandiseMart' and lists[i][j][1] == '5':
#                 run[7] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Clark/Lake'" and lists[i][j][1] == " '5'":
# #                 run[10] = lists[i][j][2]
# #             if lists[i][j][0] == " 'State/Lake'" and lists[i][j][1] == " '5'":
# #                 run[19] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Washington/Wabash'" and lists[i][j][1] == " '5'":
# #                 run[20] = lists[i][j][2]
#             if lists[i][j][0] == 'Adams/Wabash' and lists[i][j][1] == '5':
#                 run[8] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Harold Washington Library-State/Van Buren'" and lists[i][j][1] == " '5'":
# #                 run[12] = lists[i][j][2]
# #             if lists[i][j][0] == " 'LaSalle/Van Buren'" and lists[i][j][1] == " '5'":
# #                 run[23] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Quincy'" and lists[i][j][1] == " '5'":
# #                 run[24] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Washington/Wells'" and lists[i][j][1] == " '5'":
# #                 run[13] = lists[i][j][2]
#             if lists[i][j][0] == 'MerchandiseMart' and lists[i][j][1] == '1':
#                 run[9] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Chicago'" and lists[i][j][1] == " '1'":
# #                 run[27] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Sedgwick'" and lists[i][j][1] == " '1'":
# #                 run[28] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Armitage'" and lists[i][j][1] == " '1'":
# #                 run[15] = lists[i][j][2]
#             if lists[i][j][0] == 'Fullerton' and lists[i][j][1] == '1':
#                 run[10] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Diversey'" and lists[i][j][1] == " '1'":
# #                 run[17] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Wellington'" and lists[i][j][1] == " '1'":
# #                 run[18] = lists[i][j][2]
#             if lists[i][j][0] == 'Belmont' and lists[i][j][1] == '1':
#                 run[11] = lists[i][j][2]
#             if lists[i][j][0] == 'Wilson' and lists[i][j][1] == '1':
#                 run[12] = lists[i][j][2]
#             if lists[i][j][0] == " 'Howard'" and lists[i][j][1] == " '1'":
#                 run[13] = lists[i][j][2]
#             if lists[i][j][0] == 'SouthBoulevard' and lists[i][j][1] == '1':
#                 run[14] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Main'" and lists[i][j][1] == " '1'":
# #                 run[37] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Dempster'" and lists[i][j][1] == " '1'":
# #                 run[38] = lists[i][j][2]
#             if lists[i][j][0] == 'Davis' and lists[i][j][1] == '1':
#                 run[15] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Foster'" and lists[i][j][1] == " '1'":
# #                 run[40] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Noyes'" and lists[i][j][1] == " '1'":
# #                 run[41] = lists[i][j][2]
# #             if lists[i][j][0] == " 'Central'" and lists[i][j][1] == " '1'":
# #                 run[42] = lists[i][j][2]
#             if lists[i][j][0] == 'Linden' and lists[i][j][1] == '1':
#                 run[16] = lists[i][j][2]

#     #     print(run)
#         runs.loc[len(runs)] = run

#     return runs

In [362]:
def the_whole_deal(game):

    for i, r in enumerate(game.rn.unique()):

        gm = clean_data(game[game.rn == r].reset_index(drop=True)).reset_index(drop=True)
        gmr = run_funct(gm)
        runsdf = put_it_in_df(gmr)
        
    return runsdf.sort_values(by =['Merchandise Mart5']).reset_index(drop=True)

In [143]:
runs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 51
Data columns (total 44 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   rn                                          52 non-null     object
 1   Central5                                    36 non-null     object
 2   Noyes5                                      0 non-null      object
 3   Foster5                                     0 non-null      object
 4   Davis5                                      37 non-null     object
 5   Dempster5                                   20 non-null     object
 6   Main5                                       36 non-null     object
 7   South Boulevard5                            37 non-null     object
 8   Howard5                                     38 non-null     object
 9   Wilson5                                     24 non-null     object
 10  Belmont5                                    21 non-null     object
 11  Wellington5                                 24 non-null     object
 12  Diversey5                                   24 non-null     object
 13  Fullerton5                                  23 non-null     object
 14  Armitage                                    21 non-null     object
 15  Sedgwick5                                   22 non-null     object
 16  Chicago5                                    24 non-null     object
 17  Merchandise Mart5                           24 non-null     object
 18  Clark/Lake5                                 15 non-null     object
 19  State/Lake5                                 23 non-null     object
 20  Washington/Wabash5                          14 non-null     object
 21  Adams/Wabash5                               24 non-null     object
 22  Harold Washington Library-State/Van Buren5  20 non-null     object
 23  LaSalle/Van Buren5                          24 non-null     object
 24  Quincy5                                     23 non-null     object
 25  Washington/Wells5                           24 non-null     object
 26  Merchandise Mart1                           24 non-null     object
 27  Chicago1                                    23 non-null     object
 28  Sedgewick1                                  24 non-null     object
 29  Armitage1                                   24 non-null     object
 30  Fullerton1                                  20 non-null     object
 31  Diversey1                                   24 non-null     object
 32  Wellington1                                 16 non-null     object
 33  Belmont1                                    18 non-null     object
 34  Wilson1                                     11 non-null     object
 35  Howard1                                     0 non-null      object
 36  South Boulevard1                            23 non-null     object
 37  Main                                        33 non-null     object
 38  Dempster1                                   36 non-null     object
 39  Davis1                                      8 non-null      object
 40  Foster1                                     14 non-null     object
 41  Noyes1                                      37 non-null     object
 42  Central1                                    16 non-null     object
 43  Linden1                                     36 non-null     object
dtypes: object(44)
memory usage: 18.3+ KB

rn506 = clean_data(game[game.rn == "'506'"].reset_index(drop=True)).reset_index(drop=True)

rn506

runs516 = run_funct(rn516)

put_it_in_df(runs515)

put_it_in_df(runs516)

rn516 = clean_data(game[game.rn == "'516'"].reset_index(drop=True)).reset_index(drop=True)

rn516

run_funct(rn522)

rn515 = clean_data(game[game.rn == "'515'"].reset_index(drop=True)).reset_index(drop=True)

runs515 = run_funct(rn515)

runs515

rn514 = clean_data(game[game.rn == "'514'"].reset_index(drop=True)).reset_index(drop=True)

rn514

rn517 = clean_data(game[game.rn == "'517'"].reset_index(drop=True)).reset_index(drop=True)

rn517

rn512 = clean_data(game[game.rn == "'512'"].reset_index(drop=True)).reset_index(drop=True)

rn512

rn518 = clean_data(game[game.rn == "'518'"].reset_index(drop=True)).reset_index(drop=True)

rn518

rn504 = clean_data(game[game.rn == "'504'"].reset_index(drop=True)).reset_index(drop=True)

rn504.head()

run_funct(rn518)

rn521 = clean_data(game[game.rn == "'521'"].reset_index(drop=True)).reset_index(drop=True)

rn521.head()

rn508 = clean_data(game[game.rn == "'508'"].reset_index(drop=True)).reset_index(drop=True)

rn508.head()

rn509 = clean_data(game[game.rn == "'509'"].reset_index(drop=True)).reset_index(drop=True)

rn509.head()

rn519 = clean_data(game[game.rn == "'519'"].reset_index(drop=True)).reset_index(drop=True)

rn519

rn521 = clean_data(game[game.rn == "'521'"].reset_index(drop=True)).reset_index(drop=True)

rn521.head()

rn522 = clean_data(game[game.rn == "'522'"].reset_index(drop=True)).reset_index(drop=True)

rn522

rn1000 = clean_data(game[game.rn == "'1000'"].reset_index(drop=True)).reset_index(drop=True)

rn1000

runs1000 = run_funct(rn1000)

put_it_in_df(runs1000)